.header{
    text-align: center;
    font-size: 30px;
    font-family: 'PT Sans',Helvetica,Arial,sans-serif;
    color: #DEB887;
    line-height: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}